<div class="container">
  <div *ngIf="allpgs!=undefined && userrole!=undefined">
    <div>
      <button *ngIf="userrole.includes('CEO')" (click)="addpg()">Add New
        People Group</button>
      <h2>All People Groups</h2>
    </div>
    <div class="pgcontainer">
      <div class='card' *ngFor="let x of allpgs">
        <div [class.deletediag]='deletediag.length===0' [class.activedel]='deletediag.includes(x.id)'><p>Are you sure you want to Delete this? You will delete <strong>{{x.projectnos}} Projects </strong> along with this People Group</p>
          <button class='smalldelete' (click)='deleter(x.id)'>Yes</button>
          <button class='smalldelete' (click)='close()'>No</button>
        </div>
        <div style='float:right;'>
          <button class='delete' (click)="deletediager(x.id)"><i class="material-icons">delete</i></button>
          <button class='delete' (click)="edit(x.id)"><i class="material-icons">edit</i></button>
        </div>
        <div *ngIf='userrole.includes("ID")'>
          <h2>{{x.country}}</h2>
          <h3>{{x.pgroup}}</h3>
        </div>
        <div *ngIf='userrole.includes("CEO")'>
          <h2>{{x.pgroup}}</h2>
        </div>
        <div class='pggrid'>
          <div>
            <h2><strong>{{x.population}}</strong></h2>
            <p>Population:</p>
          </div>
          <div>
            <h2><strong>{{x.agegrouplow}} - {{x.agegrouphigh}}</strong></h2>
            <p>Age-Group</p>
          </div>
          <div>
            <h2><strong>{{x.electricityaccess}}%</strong></h2>
            <p>Electricity Access</p>
          </div>
          <div>
            <h2><strong>{{x.projectnos}}</strong></h2>
            <p>No Of Projects</p>
          </div>
          <div>
            <h2><strong>{{x.literacyrate}}</strong></h2>
            <p>Literacy Rate</p>
          </div>
          <div>
            <h2><strong>&#8377;{{x.averageincome}}</strong></h2>
            <p>Average Income</p>
          </div>
          <div>
            <h2><strong>&#8377;{{x.</strong> </h2>
            <p></p>
          </div>
        </div>
        <h3><strong>About</strong></h3>
        <p><small>{{x.description}}</small></p>
        <div>
          <h3><strong>Needs</strong></h3>
          <div>
            <p *ngFor="let y of x.needs; let i=index">
              <small>{{y.need}}</small>
            </p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>