
.seccontainer {
    margin-right: 40%;
}

.arkpi {
    position: relative;
    margin-top: 5%;
}

button.delete {
    position: absolute;
    right: -18px;
    top: 7px;
}


.submline {
    margin-top: 60px;
}