<div class="container">
  <h2>Dashboard</h2>
  <h3>At a Glance</h3>
  <div *ngIf='userrole!==undefined'>
    <div *ngIf='userrole.includes("ID")'>
    </div>

    <div class='grid' *ngIf='userrole.includes("CEO")'>
      <div class='card' *ngIf='latetasks!==null'>
        <p>Late Reports</p>
        <div *ngFor='let x of latetasks'>
          <p>Tasks that missed Deadline</p>
          <p>{{x.task}}</p>
        </div>
      </div>
      <div class='card activeprojects' *ngIf='activeprojects!==undefined'>
        <p>Active Projects</p>
        <h2><strong>{{activeprojects.length}}</strong>/{{projects.length}}</h2>
        <p>Progress of Each Active Project wrt tasks</p>
        <div *ngFor='let x of activeprojects'>
          <p>{{x.name}}</p>
          <div *ngFor='let y of x.kpis'>
            <div *ngFor='let z of y.tasks'>
              <p>{{z.task}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class='card' *ngIf='activeprojects!==undefined'>
        <p>Users in Country and their Tasks</p>
        <div *ngFor='let x of countryusers'>
          <p>{{x.firstname}} {{x.lastname}}</p>
          <div *ngFor='let y of x.tasks'>
            <p>{{y.task}}</p>
          </div>
        </div>
      </div>

      <div class='card' *ngIf='upcomingtasks!==undefined'>
        <p>Upcoming Tasks</p>
        <div *ngFor='let x of upcomingtasks'>
          <p>{{x.task}} - {{x.projectstartdate+x.enddate | date}}</p>
        </div>
      </div>
      <!-- <p>Upcoming Reports</p> -->

    </div>


    <div *ngIf='userrole.includes("EXECUTIVE")'>
    </div>

    <h3>My Tasks</h3>
    <div *ngIf='user!==undefined'>
      <div *ngFor='let x of usertasks'>
        <p>{{x.task}}</p>
        <p>Deadline: {{x.realdeadline | date}}</p>
      </div>
    </div>

    <h3>Active Projects</h3>
    <div *ngIf='userrole.includes("ID")'></div>
    <div *ngIf='userrole.includes("CEO")'>
      <div *ngFor='let x of activeprojects'>
        {{x.name}}
        {{x.startdate}}
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>

    <h3>People Groups</h3>
    <div *ngIf='userrole.includes("ID")'></div>
    <div *ngIf='userrole.includes("CEO")'></div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>

    <h3>Planned Projects</h3>
    <div *ngIf='userrole.includes("ID")'></div>
    <div *ngIf='userrole.includes("CEO")'>
      <div *ngFor='let x of pendingprojects'>
        <p>{{x.name}}</p>
        <p>{{x.startdate}}</p>
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>
    <div *ngIf='userrole.includes("CEO")'>
      <h3>Draft Projects</h3>
      <div *ngFor='let x of draftprojects'>
        <p>{{x.name}}</p>
        <p>{{x.startdate}}</p>
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>

  </div>
</div>