/* General */
.container {
    margin-right: 5%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;

}
.grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
p{
    color: var(--dp);
}
h3{
    color: var(--grey);
}

/* Title */
h2.title {
    font-size: 3em;
}
/* Late Reports */

/* Active Projects */
.activeprojects h3 {
    color: var(--black);
}
.activeprojects strong{
    font-size: 5rem;
    color: var(--s);
}

/* Registered Users  */
.registeredusers > .grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* My Tasks */
.longcard {
    padding: 1.5em 2em;
    background-color: var(--white);
}
.mytask {
    border-bottom: dotted 1px var(--lg);
    padding: .75em 0 .75em 0;
}

/* Active Projects */
