<div class="container">
  <h2 class='title'>Dashboard</h2>
  <div *ngIf='userrole!==undefined'>
    <div *ngIf='userrole.includes("ID")'>
<iframe width="100%" height="1000px" src="https://datastudio.google.com/embed/reporting/7075b243-d504-4097-93ac-86318ba1118e/page/kdEHB" frameborder="0" style="border:0" allowfullscreen></iframe>
			<iframe width="100%" height="1000" src="https://datastudio.google.com/embed/reporting/9a3ce824-c52b-4bd1-85a8-49beeee824e5/page/VdsGB" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h3 *ngIf='userrole.includes("CEO")'>Immediate Attention</h3>
    <div class='grid' *ngIf='userrole.includes("CEO")'>
      <div class='card' *ngIf='latetasks!==null'>
        <h2>Late Reports</h2>
        <div *ngFor='let x of latetasks'>
          <p>Tasks that missed Deadline</p>
          <p>{{x.task}}</p>
        </div>
      </div>
      <div class='card activeprojects' *ngIf='activeprojects!==undefined'>
        
			<h2>Active Projects</h2>
			<h2><strong>{{activeprojects.length}}</strong>/{{projects.length}}</h2>
			<p>Progress of Each Active Project wrt tasks</p>
				<div *ngFor='let x of activeprojects'>
					<p>{{x.name}}</p>
					<div *ngFor='let z of x.tasks'>
						<p>{{z.task}}</p>
					</div>
				</div>
      </div>
      <div class='card registeredusers' *ngIf='activeprojects!==undefined'>
        <h2>Staff Overview</h2>
        <div *ngFor='let x of countryusers'>
          <div class="grid2">
            <div>
              <p>{{x.firstname}} {{x.lastname}}</p>
            </div>
            <div>
              <p> {{x.tasks.length}} tasks</p>
            </div>
          </div>

          <!-- <div *ngFor='let y of x.tasks'>
            <p>{{y.task}}</p>
          </div> -->
        </div>
      </div>

      <div class='card' *ngIf='upcomingtasks!==undefined'>
        <h2>Upcoming Tasks</h2>
        <div *ngFor='let x of upcomingtasks'>
          <p>{{x.task}} - {{x.projectstartdate+x.enddate | date}}</p>
        </div>
      </div>
      <!-- <p>Upcoming Reports</p> -->

    </div>


    <div *ngIf='userrole.includes("EXECUTIVE")'>
    </div>

    <h3>My Tasks</h3>
    <div class='longcard' *ngIf='user!==undefined'>
      <div *ngFor='let x of usertasks'>
        <p class="mytask">{{x.task}} | {{x.realdeadline | date}}</p>
      </div>
    </div>

    <h3>Active Projects</h3>
    <div class='longcard' *ngIf='userrole.includes("ID")'></div>
    <div class='longcard' *ngIf='userrole.includes("CEO")'>
      <div *ngFor='let x of activeprojects'>
        <p>
          {{x.name}} | started on: {{x.startdate}}
        </p>
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>

    <h3>People Groups</h3>
    <div class="longcard" *ngIf='userrole.includes("ID")'></div>
    <div class="longcard" *ngIf='userrole.includes("CEO")'></div>
    <div class="longcard" *ngIf='userrole.includes("EXECUTIVE")'></div>

    <div *ngIf='userrole.includes("CEO") || userrole.includes("ID")'>
      <h3>Planned Projects</h3>
      <div *ngFor='let x of pendingprojects'>
        <p>{{x.name}}</p>
        <p>{{x.startdate}}</p>
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>
    <div *ngIf='userrole.includes("CEO")'>
      <h3>Draft Projects</h3>
      <div class='longcard' *ngFor='let x of draftprojects'>
        <p>{{x.name}}</p>
      </div>
    </div>
    <div *ngIf='userrole.includes("EXECUTIVE")'></div>

  </div>
</div>
