<div class="container">
  <app-proposalnav></app-proposalnav>
  <div class="seccontainer">
    <div>
      <div class='intro'><h1>Introduction</h1>
        <div class='onrightintro'>
          <p>Welcome to the 'Project-Proposal' form.</p>
          <p>Please take your time to fill up all the
            input-forms before going to the next page.</p>
          <p>Your filled proposal, once submitted, will be sent to Singapore for vetting.</p>
          <p>If your proposal doesn't clear, you will have to re-work your forms until they clear the vetting stage.</p>
        </div>
      </div>
      <small>Tip: Hover your mouse on the titles for more information on how to fill each field.</small>
    </div>
    <div *ngIf="project!==undefined || myForm !==undefined">
      <form [formGroup]="myForm">
        <label class='pg'>People Group<p class='onrightpg'>Select your People Group here. If you aren't able to see any People Groups in the
          Drop-down, it means you haven't made a People Group yet. Please define your people groups by clicking on
          nav-bar
          on the left</p></label>
        <select formControlName="pgroup" (change)="fixneeds($event.target.value)">
          <option *ngFor="let x of pgroup; let i=index" value="{{x.id}}">{{x.pgroup}}</option>
        </select>
        
        <label class='pjname'>Project Name <p class='onrightpjname'>The Project Name doesn't need to be catchy; But it needs to convey in 2-3 words what
            your project is about.</p></label>
        <input placeholder="Project Name" type="text" formControlName="name">
        
        <label class="pjvision">Project Vision<p class='onrightpjvision'>Examples of a bad vision: 'to Present the Gospel of Christ', or 'to provide good Bible
            Study tools'. A good vision could be; 'To see the next generation of this People Group grow with firm moral
            values in this post-modern amoral world</p></label>
        <textarea placeholder="Project Vision" type="text" formControlName="vision"></textarea>
        
        <label class="pjmission">Project Mission<p class='onrightpjmission'>Explain what you're going to DO to achieve the vision you mentioned above</p></label>
        <textarea placeholder="Project Mission" type="text" formControlName="mission"></textarea>
        <label class="pjstartdate">Tentative Start Date<p class='onrightstartdate'>This is not the actual Start Date, but just a temporary start date, that could be changed later</p></label>
        <input placeholder="Tentative Start Date" type="date" formControlName="startdate">
        <div class='buttonrow'>
          <button *ngIf='projid===undefined' class='primary' (click)="onSubmit()">Next</button>
          <button *ngIf='projid!==undefined' class='primary' (click)="onSave()">Save</button>
          <button *ngIf='projid!==undefined' class='secondary' (click)="onDraft()">Draft</button>
          <button (click)="goback()" class='secondary'>Go Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
