<div class="container">
  <div class="heading">
    <h2>TWR Project Management App</h2>
    <p class='version'>Version 2 Alpha</p>
  </div>
  <form [formGroup]="loginForm" class="form">
      <input placeholder="Email" type="text" formControlName="email" required>
      <input placeholder="Password" type="password" formControlName="password" required>
    <div class='error'>{{error}}</div>
    <button (click)="onLogin()">Login</button>
  </form>
  
  <p class="contactinfo">Contact your boss for your login information or Lost credentials</p>
</div>