
.seccontainer {
    margin-right: 40%;
}
.task {
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-column-gap:2em;
    margin-bottom: 4em;
}
button.delete{
    position: absolute;
    top:13%;
    right: 0%;
}
button.addtask {
    width: 100%;
    margin-bottom: 2em;
}
.submline {
    margin-top: 1em;
    margin-bottom: 3em;
}
.submit {
    float: right;
}
.secondary {
    margin-right: 2em;
}
.onside{
    position: fixed;
    z-index: 1;
    top: 30%;
    right: 2%;
}