.seccontainer {
    margin-right: 40%;
}
/* Title */
.projname {
    margin-top: 2em;
}
strong {
    font-weight: 400;
}
.rightpgname, .rightduration, .rightno, .rightcformat, .rightpformat, .rightcckpi {
    position: absolute;
    left: 70%;
    margin-right: 10%;
    display: none;
}
.rightcckpi {
    top: 40%;
}

.pgname:hover, .duration:hover .no:hover, .cformat:hover, .cckpi:hover, .cckpi:hover {
    cursor: pointer;
}

.pgname:hover .rightpgname {
    display: block;
}
.duration:hover .rightduration {
    display: block;
}

.no:hover .rightno {
    display: block;
}
.cformat:hover .rightcformat {
    display: block;
}
.pformat:hover .rightpformat {
    display: block;
}
.cckpi:hover .rightcckpi {
    display: block;
}
.prodkpi {
    position: relative;
}
button.delete {
    position: absolute;
    top: 5%;
    right: -2%;
}

/* Last Buttons */
.lastbuttons {
    margin-top: 10%;
    margin-right: 40%;
}
button.secondary {
    float:left;
}