<app-proposalnav></app-proposalnav>
<div *ngIf="myForm!==undefined">
	<div>
		<form [formGroup]="myForm">
			<div>
				<div *ngIf="project!==undefined">
					<h1>Content Creation</h1>
					<p>{{project.name}}</p>
					<div>
						<p><strong>Vision: </strong>{{project.vision}}</p>
						<p><strong>Mission: </strong>{{project.mission}}</p>
					</div>
				</div>
				<div><input placeholder="Program Name" type="text" formControlName="programname">
				</div>
				<div><input placeholder="Duration in Minutes" type="number" formControlName="duration">
				</div>
				<div><input placeholder="Number of Programs" type="number" formControlName="programsno">
				</div>

				<div>
					<label>Content Format</label>
					<select formControlName="contentformat">
						<option *ngFor="let x of contentformat" [value]="x">{{x}}</option>
					</select>
				</div>

				<div>
					<label>Production Format</label>
					<select formControlName="productionformat">
						<option *ngFor="let y of productionformat" [value]="y">{{y}}</option>
					</select>
				</div>

				<h3>Content Creation KPI</h3>
				<div formArrayName="productionkpis">
					<div *ngFor="let address of productionkpis.controls; let i=index">
						<!-- The repeated alias template -->
						<div>
							<textarea type="text" placeholder="Production KPI" [formControlName]="i"></textarea>
							<button (click)="deleteproductionkpi(i)" tabindex="2"><i>delete</i></button>
						</div>
					</div>
					<button color="primary" (click)="addProductionkpi()" tabindex="0">Add Content Creation
						KPI</button>
				</div>
			</div>
			<div>
				<button color="primary" (click)="onSubmit()">Next</button>
				<button color="secondary" (click)="onDraft()">Save as
					Draft</button>
			</div>

			<!-- End of Content Production-->

		</form>
	</div>
</div>