.seccontainer {
    margin-right: 40%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3em;
}

.need {
    position: relative;
}

button.delete {
    position: absolute;
    top: 5%;
    right: 19%;
}
button.secondary {
    float: left;
}