<div class="container">
  <div class="seccontainer" *ngIf="pgForm!==undefined">
    <h1>Add a New People Group</h1>
    <p>{{pgForm.value|json}}</p>
    <form [formGroup]="pgForm" class="formsection">
      <div><label for="pgroup">Name of People Group</label>
        <textarea formControlName="pgroup" id='pgroup' placeholder="Name of People Group" type="text" required
          tabindex="1"></textarea></div>

      <div><label for="description">People Group Description</label>
        <textarea formControlName="description" id='description' placeholder="People Group Description" type="text" 
        required tabindex="2"></textarea></div>
        <div class="grid">

        <div><label for="population">Population</label>
          <input id='population' placeholder="Population" type="number" formControlName="population" required
            tabindex="3"></div>

        <div><label for="electricity">Access to Electricity (%)</label>
          <input id='electricity' placeholder="Access to Electricity" type="number" formControlName="electricityaccess"
            required tabindex="4"></div>

        <div><label for="lagelimit">Lower Age Limit</label>
          <input id='lagelimit' placeholder="Lower Age Limit" type="number" formControlName="agegrouplow" required
            tabindex="5"></div>

        <div><label for="uagelimit">Upper Age Limit</label>
          <input id='uagelimit' placeholder="Upper Age Limit" type="number" formControlName="agegrouphigh" required
            tabindex="6"></div>


        <div><label for="lrate">Literacy Rate (%)</label>
          <input id='lrate' placeholder="Literacy Rate" type="number" formControlName="literacyrate" required
            tabindex="7"></div>

        <!-- <div><label for='ltype'>Location Type</label>
          <select id='ltype' tabindex="8" fromControlName='location'>
            <option *ngFor="let x of location" [value]="x">{{x}}</option>
          </select></div> -->
          <div><label for='location'> Location</label>
            <select id='location' tabindex="8" formControlName='location'>
              <option *ngFor="let x of location" [value]="x">{{x}}</option>
            </select></div>
          
          <div><label for='avginc'>Average Monthly Income in $</label>
            <input id='avginc' placeholder="Average Monthly Income" type="number" formControlName="averageincome"
              tabindex="9" required></div>
        <div><label for='mediaaccess'> Media Accessibility</label>
          <select id='mediaaccess' tabindex="8" formControlName='mediaaccess'>
            <option *ngFor="let x of maccessibility" [value]="x">{{x}}</option>
          </select></div>

        <div><label for='language'>Language</label>
          <select id='ltype' tabindex="9" formControlName='language'>
            <option *ngFor="let x of languages" [value]="x.id">{{x.name}}</option>
          </select></div>
      </div>

      <div formArrayName="needs">
        <h3>Needs</h3>
        <div *ngFor="let address of pgForm.get('needs')['controls']; let i=index">
          <!-- The repeated alias template -->
          <div class='need'>
            <div [formGroupName]="i" style="width: 80%">
              <textarea placeholder="needs" type="text" formControlName="need" tabindex="10"></textarea>
            </div>
            <button (click)="delNeed(i)" class="delete"><i class="material-icons">delete</i></button>
          </div>
        </div>
        <button class="secondary" color="primary" (click)="addNeed()" tabindex="11">Add Need</button>
      </div>
      <button class="submit" (click)="onSubmit()" tabindex="12">Save</button>
    </form>
  </div>
  <!-- Values: {{pgForm.value | json }} -->
</div>