@font-face {
    font-family: lato;
    src: url(assets/font/Lato-Thin.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: lato;
    src: url(assets/font/Lato-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: lato;
    src: url(assets/font/Lato-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: lato;
    src: url(assets/font/Lato-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: lato;
    src: url(assets/font/Lato-Black.ttf) format("truetype");
    font-weight: 900;

}

:root {
    --white: #FEFDFF;
    --black: #2E014E;
    --grey: #625869;
    --lg: #ECEAED;
    --d: #29252C;
    --p: #31f1a1;
    --lp: #B6FBDE;
    --dp: #086f44;
    --s: #B34DFC;
    --ls: #D8A4FE;
    --ds: #48027B;
}

body {
    background-color: var(--lg);
}

h1, h2, h3, h4, h5, h6, small, strong, p, li, button, label, textarea {
    font-family: lato;
    color: var(--black);
    font-weight: 300;
}

button {
    border: none;
    padding: 1em 1.75em;
    background-color: var(--s);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

button.secondary {
   background-color: var(--lgrey);
   border: 1.5px solid black;
   border-color:var(--s);
   color:var(--s);
   border-radius: 5px;
   font-weight: 300;
}

button.delete {
    padding: .5em;
    background-color: var(--lgrey);
    color: var(--s);
}
button:hover {
    background-color: var(--ls);
    color: var(--white);
}

input[type=text], input[type=password], textarea, select, input[type=number] {
    border: none;
    width: 100%;
    padding: .5em;
    margin: .5em 0;
    color: var(--ds);
    margin-bottom: 2em;
}

.card {
    margin: .5em;
    background-color: var(--white);
    padding: 2em 3em;
}