/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
}

:root {
    --primary: #26c6da;
    --secondary: #5BCFA4;
    --black: #092e33;
    --white: #effbfc;
    --darkgrey: #38354A;
    --lightgrey: #e4e8e9;
    --warn: red;
    --success: green;
    --primaryp1: #20a8b9;
    --primarym1: #45cedf;
    --primaryp2: #1a8a98;
    --primarym2: #81dee9;
    --pplgrp: rgb(175, 232, 240);
    --need: #45BE89;
    --proj: #ff4081;
}

p.mat-body, h1.mat-h1, h2.mat-h2, h3.mat-h3, p.mat-small, h1.mat-display-4, h1.mat-display-3, h1.mat-display-2, h1.mat-display-1 {
    color: var(--black);
} */