.seccontainer {
    margin-right: 40%;
}
strong {
    font-weight: 500;
}

.emergency {
    background-color: red;
}

.hide {
    display: none;
}

.displaydeactivate {
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
