<div class='container seccontainer'>
	<div *ngIf="projects!==undefined && userrole!==undefined">
		<button class='newproject' *ngIf="userrole.includes('CEO')" (click)="newproj()">New
			Project</button>
		<div class='card'>
			<h1><strong>Projects Pending Approval</strong></h1>
			<div *ngFor="let x of projects | approval1">
				<hr>
				<h2 *ngIf="userrole.includes('ID')" (click)="viewproj(x.id)">{{x.country}}</h2>
				<h2 *ngIf="userrole.includes('CEO')" (click)="viewproj(x.id)">{{x.name}}</h2>
				<p>{{x.lastupdated | date }}</p>
				<p *ngIf="userrole.includes('ID')">{{x.needs}}</p>
				<p *ngIf="userrole.includes('ID')"><strong>Vision: </strong>{{x.vision}}</p>
				<p *ngIf="userrole.includes('ID')"><strong>Mission: </strong>{{x.mission}}</p>
				<div>
					<button *ngIf="userrole.includes('ID')" (click)="starttoggle(x.id)" class='delete small'>Approve</button>
					<button *ngIf="userrole.includes('ID')" (click)="denyproj(x.id)" class='delete small'>Deny</button>
					<div *ngIf="approvetoggle===true">
						<p>Provide a Start Date and Hit Enter to confirm</p>
						<input style='margin-right: 2em;' type="date" (keyup.enter)='approveproj(x.id, $event)'>
						<button class='delete small' (click)='cancel()'>Cancel</button>
					</div>
					<div *ngIf='denytoggle===true'>
						<p>Please add a message, pointing to areas for improvement for this Proposal, along with reasons for Denial
						</p>
						<input type="text" [(ngModel)]='denymessage' (keyup.enter)='denyproj2()'>
						<button class='delete small' (click)='cancel()'>Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div class='card'>
			<h1><strong>Active Projects</strong></h1>
			<div *ngFor="let x of projects | approval2">
				<hr>
				<div></div>
				<h2 (click)="activeproj(x.id)">{{x.name}}</h2>
				<p>{{x.vision}}</p>
			</div>
		</div>
		<div class='card' *ngIf="userrole.includes('CEO')">
			<h1><strong>Draft Projects</strong></h1>
			<div>
				<div *ngFor="let x of projects | approval0">
					<hr>
					<p class='denied' *ngIf="x.denialmsg!==null">Project Denied: {{x.denialmsg}}</p>
					<h2 (click)="viewproj(x.id)">{{x.name}}</h2>
					<p>{{x.pgroup.pgroup}}</p>
					<div *ngFor="let y of x.pgroup.needs">
						<p>{{y.need}}</p>
					</div>
					<p>{{x.vision}}</p>
					<div class="relative">
						<div class='buttonline'>
							<button (click)="deleteproj(x.id)" class='delete'><i class='material-icons'>delete</i></button>
							<button (click)="editproj(x.id)" class='delete'><i class='material-icons'>edit</i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
