.seccontainer {
    margin-right: 20%;
}
button.newproject{width: 100%;}
strong {
    font-weight: 500;
}

button.small {
    padding: .5em 2em;
    margin-right: 2em;
    border-bottom: 1px solid var(--s);
    border-top: 1px solid var(--s);
}

.denied {
    color: red;
    font-weight: 500;
}

.relative {
    position: relative;
}

.buttonline {
    position: absolute;
    bottom: 118px;
    left: 70%;
}